{% extends 'heading.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <table border="0">
        <tr>
            <td>
                <h3 class="title">Редактирование звонка</h3>
            </td>
        </tr>
        <tr>
            <td>
                <form method="post" action="" class="form_add_edit" enctype="multipart/form-data">
                    {% crispy form  %}
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Комментарии:</h3>
            </td>
        </tr>
    </table>
    <br>
    <table border="0" style="width: 80%; margin-left: 5%">

    {% for comment in args.call_comments %}
        <tr>
            <td>
                Дата: {{ comment.comment_date }} Логин: {{ comment.comment_user }} <h4>{{ comment.comment_text }}</h4>
            </td>
        </tr>
    {% endfor %}
        <tr>
            <td>
                <form method="post" action="" class="form_add_edit">
                    {% crispy form_comment %}
                </form>
            </td>
        </tr>
    </table>

{% endblock %}
