{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ args.title_page }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="icon" type="image/png" href="{% static "img/loesk.jpeg" %}" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $.getScript('{% static "scripts.js" %}')
        })
    </script>
</head>
<body>
{% if request.user.is_authenticated %}
    <table border="0" class="myTable">
        <tr>
            <td rowspan="2" width="5%"><a href="/"><img src="{% static "img/loesk.jpeg" %}" alt="LOESK" width="100" height="100"></a></td>
            <td bgcolor="#ff9400" class="header-text_white"><h3>{% if args.user_res %}Филиал: {{ args.user_filial }} <span style='padding-left:50px;'> </span> РЭС: {{ args.user_res }}{% else %}Филиал: {{ args.user_filial }}{% endif %}</h3></td>
            <td rowspan="2" class = header-text_td><h5>{{ args.user_group }}</h5></td>
            <td rowspan="2" class = header-text_td><h5><a href="/auth/logout">Выйти ({{ args.username }})</a></h5></td>
        </tr>
        <tr>
            <td bgcolor="#ff9400" align="center" class="header-text_white"><h5>Отдел: {{ args.user_otdel }}</h5></td>
        </tr>
    </table>
    {% block content %}{% endblock %}
    {% block login %}{% endblock %}
{% else %}
{% endif %}
</body>
</html>