{% extends 'heading.html' %}
{% block content %}
<br>
<a href="{% url 'call.views.new_call' %}"><button class="btn btn-success btn-lg">Новый звонок</button></a>
<a href="{% url 'call.views.data_out_csv' %}"><button class="btn btn-default btn-lg">Отчёт</button></a>
<h4>{{ args.top_message }}</h4>
<div align="right" id="users">
  <input class="search" placeholder="Поиск по имени" />
  <button class="sort" data-sort="aim">Сортировка по причине звонка:</button>
  <table  border="0" align="center" width="100%" margin-top = 2%>
    <!-- IMPORTANT, class="list" have to be at tbody -->
    <tbody class="list">
    <tr>
        <td>
            <h4>ФИО абонента</h4>
        </td>
        <td>
            <h4>Дата обращения</h4>
        </td>
        <td>
            <h4>Цель звонка</h4>
        </td>
        <td>
            <h4>Принял</h4>
        </td>
    </tr>
    <tr style="border-bottom: 1px solid #000;"></tr>
    {% for call in args.call_for_filial %}
        <tr>
            <td>
                <h4 class="name"><a href="/call/get/{{ call.id }}">{{ call.call_title }}</a></h4>
            </td>
            <td>
                <h4 class="date"> {{ call.call_date }} </h4>
            </td>
            <td>
                <h4 class="aim"> {{ call.call_aim }} </h4>
            </td>
            <td>
                <h4> {{ call.call_user_man }} </h4>
            </td>
        </tr>
{#        {{ call.call_user_man_filial }}#}
{#        {{ args.user_filial }}#}
    {% endfor %}
  </tbody>
  </table>


</div>
{% endblock content %}
