{% extends 'heading.html'%}
{% block content %}
{% load crispy_forms_tags %}
<br>
<div id="users">
<table border="0">
    <tr>
        <td rowspan="2">
            <div align="left">
            <a href="{% url 'call.views.new_call' %}"><button class="btn btn-success btn-lg">Новый звонок</button></a>
            {% if args.user_group == 'Руководитель'  %}
                <a href="javascript:PopUpShow()"><button class="btn btn-default btn-lg">Отчёт</button></a>
                <div class="b-popup" id="popup1">
<div class="b-popup-content">
    <p align="right" style="margin-right: 5px"><a href="javascript:PopUpHide()">Х</a></p>
    <form id="myform_requst" action="export_excel_out/" method="POST"> {% csrf_token %}
        <h1>Формирование отчёта</h1>
{#        <h3>Можно дополнительные поля сюда вписать</h3>#}
        <h3>Отчётный период</h3>
        <label for="from" class="h4">с</label>
        <input type="text" id="from" name="date_from">
        <label for="to" class="h4">по</label>
        <input type="text" id="to" name="date_to"><br>
        <div align="center">
        <input type="submit" class="btn btn-default" value="Подготовить отчёт"/>
        </div>
    </form>
</div>
</div>
            {% endif %}
            </div>
        </td>
        <td><h4>Сортировки по:</h4></td>
        <td>
{#            <div align="right">#}
{#                <h4>Сортировки по:</h4>#}
{#                <input class="search" size="21" placeholder="Поиск по ключевым словам"/>#}
{#                <button class="sort" data-sort="aim">причине звонка</button>#}
{#                <button class="sort" data-sort="user">операторам</button>#}
{#            </div>#}
        </td>
        <td></td>
    </tr>
    <tr>
        <td width="195px" align="right">
            <input class="search" size="26" placeholder="Поиск по ключевым словам"/>
        </td>
        <td width="180px" align="right">
            <button class="sort" data-sort="aim">причине звонка</button>
        </td>
        <td width="155px" align="right">
            <button class="sort" data-sort="user">операторам</button>
        </td>
    </tr>
    <tr>
        <td><h4>{{ args.top_message }}</h4></td>
    </tr>
</table>

    <br>
<table>
    <!-- IMPORTANT, class="list" have to be at tbody -->
    <tr>
        <td class="td_call_list">
            <h4>Заявитель</h4>
        </td>
        <td class="td_call_list">
            <h4>Дата обращения</h4>
        </td>
        <td class="td_call_list">
            <h4>Причина обращения</h4>
        </td>
        <td class="td_call_list">
            <h4>Принял</h4>
        </td>
{#        <tr style="border-bottom: 1px solid #000;"></tr>#}
    </tr>
    <tbody class="list">
    {% for call in args.call_for_filial %}
        <tr>
{#        {% assign style "text-underline: red;" if call.call_date < args.time_now else "" %}#}
            <td class="td_call_list">
                <h4 class="name" ><a href="/call/get/{{ call.id }}">{{ call.call_title }}</a></h4>
            </td>
            <td class="td_call_list">
                <h4 class="date" {% if call.calliswhat %} style="color: red" {% endif %}> {{ call.call_date | date:"SHORT_DATE_FORMAT"}} </h4>
            </td>
            <td class="td_call_list">
                <h4 class="aim" style="{{ style }}"> {{ call.call_aim }} </h4>
            </td>
            <td class="td_call_list">
                <h4 class="user" style="{{ style }}"> {{ call.call_user_man }} </h4>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{#</div>#}
{% endblock content %}
