{% extends 'heading.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if request.user.is_authenticated %}
    <h3 class="tabs-title">Новый звонок</h3>

{#<form action="/new" method="post">#}
{#{% csrf_token %}#}
{#<legend>Абонент</legend>#}
{#    {{ form.non_field_errors }}#}
{#    <div class="fieldWrapper">#}
{#        {{ form.subject.errors }}#}
{#        <label class="form-control" for="id_subject">ФИО Абонента: {{ form.call_face }}</label>#}
{#    </div>#}
{#    <table>#}
{#    <tr>#}
{#        <td>#}
{#    <div class="form-check">#}
{#      <label class="form-check-label">#}
{#        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="Физическое лицо" checked>#}
{#        Физическое лицо#}
{#      </label>#}
{#    </div>#}
{#        </td>#}
{#        <td>#}
{#    <div class="form-check">#}
{#    <label class="form-check-label">#}
{#        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Юридическое лицо">#}
{#        Юридическое лицо#}
{#      </label>#}
{#    </div>#}
{#        </td>#}
{#    </tr>#}
{#        </table>#}
{#    <div class="form-group">#}
{#    <label for="exampleInputEmail1"></label>#}
{#    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ФИО абонента/Название организации" {{ form.call_title }}>#}
{#    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
{#    </div>#}
{#    <div>#}
{#        {{ form.call_aim }}#}
{#    </div>#}
{#    <div class="fieldWrapper">#}
{#        {{ form.message.errors }}#}
{#        <label for="id_message">Your message:</label>#}
{#        {{ form.message }}#}
{#    </div>#}
{#    <div class="fieldWrapper">#}
{#        {{ form.sender.errors }}#}
{#        <label for="id_sender">Your email address:</label>#}
{#        {{ form.sender }}#}
{#    </div>#}
{#    <div class="fieldWrapper">#}
{#        {{ form.cc_myself.errors }}#}
{#        <label for="id_cc_myself">CC yourself?</label>#}
{#        {{ form.cc_myself }}#}
{#    </div>#}
{#    <p><input type="submit" value="Send message" /></p>#}
{#<input type="submit" class="myButton" value="Добавить">#}
{#</form>#}


{#<form>#}
{# <fieldset class="form-group">#}
{#    <legend>Абонент</legend>#}
{#    <tr>#}
{#        <td>#}
{#    <div class="form-check">#}
{#      <label class="form-check-label">#}
{#        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="Физическое лицо" checked>#}
{#        Физическое лицо#}
{#      </label>#}
{#    </div>#}
{#        </td>#}
{#        <td>#}
{#    <div class="form-check">#}
{#    <label class="form-check-label">#}
{#        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Юридическое лицо">#}
{#        Юридическое лицо#}
{#      </label>#}
{#    </div>#}
{#        </td>#}
{#    </tr>#}
{#    <div class="form-check disabled">#}
{#    <label class="form-check-label">#}
{#        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>#}
{#        Option three is disabled#}
{#      </label>#}
{#    </div>#}
{#  </fieldset>#}
{#<div class="form-group">#}
{#    <label for="exampleInputEmail1"></label>#}
{#    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ФИО абонента/Название организации">#}
{#    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
{#</div>#}
{#  <div class="form-group">#}
{#    <label for="exampleInputEmail1">Email address</label>#}
{#    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">#}
{#    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
{#  </div>#}
{#  <div class="form-group">#}
{#    <label for="exampleInputPassword1">Password</label>#}
{#    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
{#  </div>#}
{#  <div class="form-group">#}
{#    <label for="exampleSelect1">Example select</label>#}
{#    <select class="form-control" id="exampleSelect1">#}
{#      <option>1</option>#}
{#      <option>2</option>#}
{#      <option>3</option>#}
{#      <option>4</option>#}
{#      <option>5</option>#}
{#    </select>#}
{#  </div>#}
{#  <div class="form-group">#}
{#    <label for="exampleSelect2">Example multiple select</label>#}
{#    <select multiple class="form-control" id="exampleSelect2">#}
{#      <option>1</option>#}
{#      <option>2</option>#}
{#      <option>3</option>#}
{#      <option>4</option>#}
{#      <option>5</option>#}
{#    </select>#}
{#  </div>#}
{#  <div class="form-group">#}
{#    <label for="exampleTextarea">Example textarea</label>#}
{#    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>#}
{#  </div>#}
{#  <div class="form-group">#}
{#    <label for="exampleInputFile">File input</label>#}
{#    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">#}
{#    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>#}
{#  </div>#}
{#  <fieldset class="form-group">#}
{#    <legend>Radio buttons</legend>#}
{#    <div class="form-check">#}
{#      <label class="form-check-label">#}
{#        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>#}
{#        Option one is this and that&mdash;be sure to include why it's great#}
{#      </label>#}
{#    </div>#}
{#    <div class="form-check">#}
{#    <label class="form-check-label">#}
{#        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">#}
{#        Option two can be something else and selecting it will deselect option one#}
{#      </label>#}
{#    </div>#}
{#    <div class="form-check disabled">#}
{#    <label class="form-check-label">#}
{#        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>#}
{#        Option three is disabled#}
{#      </label>#}
{#    </div>#}
{#  </fieldset>#}
{#  <div class="form-check">#}
{#    <label class="form-check-label">#}
{#      <input type="checkbox" class="form-check-input">#}
{#      Check me out#}
{#    </label>#}
{#  </div>#}
{#  <button type="submit" class="btn btn-primary">Submit</button>#}
{#</form>#}
{#        #}
    <form method="post" action="">
        {% crispy form  %}
{#        {% crispy formset %}#}
{#        <input class="submit" type="submit" value="Submit data">#}
{#    <input type="submit" class="myButton" value="Добавить">#}
    </form>
{##}
{#        #}

        {#        <form action="/new" method="post">#}
{#        <form action="/new" method="post" class="input-group-lg">#}
{#        {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <br>#}
{#            <input type="submit" class="myButton" value="Добавить">#}
{#        </form>#}



    {% else %}
        <table align="center">
        <tr>
        <td align="center">
        <h1>Нужно <a href="/auth/login">Войти</a></h1>
        </td>
        </tr>
        </table>
    {% endif %}

{% endblock %}